numpy
Pillow
streamlit
opencv-python-headless==4.8.1.78
streamlit-drawable-canvas>=0.9.0
streamlit-option-menu
pandas
scipy
scikit-learn
firebase-admin
requests
uuid
python-dotenv
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
mediapipe
cmake
face-recognition-models
ultralytics  # for YOLO
tensorflow-cpu
